name: Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      
    - name: Run tests
      run: make test
      
    - name: Upload OWL artifact
      uses: actions/upload-artifact@v2.3.1
      with:
        name: Ontology OWL File
        path: ./ontology.owl
        if-no-files-found: error
        retention-days: 90
